<!-- Originally the tab-chats, changed all 'chat' references to 'item'-->
<ion-view>
  <ion-content>
  <h3 class="Total">
    Total:{{total | currency : "€"}}
      <span id="totalcalc">
      </span>
  <h3>
    <ion-list>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-button-right item-icon-right" ng-repeat="item in items" type="item-text-wrap" href="#/tab/items/{{item.id}}">
        <img ng-src="{{item.pic}}">
        <h2>{{item.name}}</h2>

        <ion-button class="button button-positive" ng-click="calculate(item);increaseQty(item)">
          {{item.price | currency : "€"}}
        </ion-button>

        <ion-option-button class="button-light" ng-click="deductFromTotal(item); decreaseQty(item)">
          <i class="icon ion-minus-circled"></i>
        </ion-option-button>

        <ion-option-button class="button-assertive" ng-click="changePrice(item)">
          <i class="icon ion-pricetag"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
